table,th,td {
  padding: 5px;
}

table {
    border: 1px solid;
    color: whitesmoke;}

.cabeçalho-moda {
    background-color: #bb86fc;
}

.corpo-moda {

    background-color: #424250;
}

.cabeçalho-casa {
    background-color: #00c4b4;
}

.corpo-casa {
    background-color: #424250;
}